.head
{
    color: red;
}
.heading
{
    position:absolute;
    top: 2%;
    right: 29%;
    font-size:xx-large;
}
.Logo
{
    position: absolute;
    right: 2%;
    top: 2%;
}
*
{
    font-family: 'Lucida Sans';
    overflow: hidden;
}
body
{
    background-image: url('Scrap_BG.jpg');
}
table
{
    position:absolute;
    top: 22%;
    right: 26%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: x-large;
}
input
{
    font-size:smaller;
    border: 1px solid red;
    border-radius: 30px;
    background:transparent ;
    transition: 0.4s ease-in-out;
}
input:hover
{
    border: 1px solid black;
    background:aqua;
}
.button
{
    background:transparent;
    color:black;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    font-size: x-large;
    border: 2px dotted black;
    transition: 0.4s ease-in-out;
}
.button:hover
{
    background-color:black;
    color:aqua;
}
.ico
{
    position: absolute;
    top: 13%;
    left: 3%;
}
.rs
{
    background-image: url('Scrap_BG.jpg');
    width: 44.9%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 15px 0px 75px black;
    animation-name: slide;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    from{right: 100%;}
    to{right: 0%;}
}
.midbtn
{
    position: absolute;
    right: 40.5%;
    top: 41.5%;
    animation-name: slidebutton;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}
@keyframes slidebutton{
    from{right: 100%;}
    to{right: 40.5%;}
}
.login{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 470px;
    left: 360px;
    background-image:url(lb1.png);
    border-radius: 50%;
    background-size: 30PX;
    color: rgba(240, 248, 255, 0);
    transition: .4s ease-in-out;
    background-repeat: no-repeat;
}
.login:hover{
    width: 300px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image:url(lb2.png);
    background-color: black;
    color: aqua;
    background-position: 325px;
    /* filter: invert(100%); */
    text-decoration: none;
    font-size: 24px;
    left: 205.5px;
    padding-left: 55px;
}
