.head
{
    color: red;
}
.heading
{
    position:absolute;
    top: 2%;
    right:45%;
    font-size:xx-large;
}
.Logo
{
    position: absolute;
    right: 4%;
    top: 2%;
}
*
{
    font-family: 'Lucida Sans';
    overflow: hidden;
}
.ip
{
    right:20%;
    top: 24%;
    position: absolute;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: x-large;
}
.tab
{
    font-size: x-large;
}
input
{
    font-size: x-large;
    border: 1px solid red;
    border-radius: 30px;
    background:transparent ;
    transition: 0.4s ease-in-out;
}
input:hover
{
    border: 1px solid black;
    background:aqua ;
}
.button
{
    background:transparent;
    color:black;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    font-size: x-large;
    border: 2px dotted black;
    transition: 0.4s ease-in-out;
}
.button:hover
{
    background-color:black;
    color:aqua;
    border-radius: 100px;
}
.rs
{
    background-image: url('Scrap_BG.jpg');
    width: 44.9%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 15px 0px 75px black;
    animation-name: slide;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}
@keyframes slide{
    from{right: 100%;}
    to{right: 0%;}
}
.ls
{
    height: 100%;
    top: 0%;
    left: 0%;
    width: 55%;
    position:absolute;
    background-image: url('Scrap_BG.jpg');
}
.midbtn
{
    position: absolute;
    right: 40.5%;
    top: 41.5%;
    overflow: hidden;
    animation-name: slidebutton;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}
@keyframes slidebutton{
    from{right: 100%;}
    to{right: 40.5%;}
}
body{
    background-image: url('Scrap_BG.jpg');
}
.lsi
{
    position: absolute;
    left: 14%;
    top: 8%;
}
.forget{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 260px;
    left: 168px;
    /* background-color: black; */
    background-image:url(qm1.png);
    border-radius: 50%;
    background-size: 30PX;
    color: rgba(240, 248, 255, 0);
    transition: .4s ease-in-out;
    background-repeat: no-repeat;
}
.forget:hover{
    width: 276px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image:url(qm2.png);
    background-color: black;   
    background-position: 299px;
    /* filter: invert(100%); */
    color:aqua;
    text-decoration: none;
    font-size: 24px;
    left: 29px;
    padding-left: 55px;
}
