.head
{
    color: red;
}
.heading
{
    position:absolute;
    top: 2%;
    right: 15%;
    font-size:xx-large;
}
.Logo
{
    position: absolute;
    right: 2%;
    top: 2%;
}
*
{
    font-family: 'Lucida Sans';
    overflow-x: hidden;
}
body
{
    background-image: url('Scrap_BG.jpg');
}
table
{
    position:absolute;
    top: 22%;
    right: 26%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: x-large;
}
input
{
    font-size:smaller;
    border: 1px solid red;
    border-radius: 30px;
    background:transparent ;
}
input:hover
{
    border: 2px solid black;
    background:transparent ;
}
.button
{
    background:transparent;
    color:black;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    font-size: x-large;
    border: 2px dotted black;
}
.button:hover
{
    background-color:black;
    color:aqua;
    height: 55px;
    width: 155px;
    border-radius: 100px;
    border: 4px dotted black;
}
.ico
{
    position: absolute;
    top: 13%;
    left: 3%;
}
.rs
{
    background-image: url('Scrap_BG.jpg');
    width: 44.9%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    box-shadow: 15px 0px 75px black;
}
.midbtn
{
    position: absolute;
    right: 40.5%;
    top: 41.5%;
}
