.head
{
    color: red;
}
.heading
{
    position:absolute;
    top: 8%;
    left: 45%;
    font-size:xx-large;
}
.Logo
{
    position: absolute;
    left: 2%;
    top: 2%;
}
body
{
    font-family: 'Lucida Sans';
    background-image: url('Scrap_BG.jpg');
    overflow: hidden;
}
.BGI
{
    position: absolute;
    opacity: 50%;
    top: 38%;
    left: 3%;
}
.ip
{
    left: 35%;
    top: 20%;
    position: absolute;
    border: 5px double blue;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: x-large;
}
input,textarea
{
    font-size: x-large;
    border: 2px solid black;
}
.list
{
    font-size: x-large;
    border: 2px solid black;
}

.button
{
    background-color: black;
    color: aqua;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: x-large;
}
.button:hover
{
    background-color: aqua;
    color: black;
    border-radius: 15px;
}
.gender
{
    position: absolute;
    left: 70%;
}
*
{
    font-family: 'Lucida Sans';
    margin: 0%;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
    background-color:black;
    color: aqua;
    overflow: hidden;
    z-index: 5;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color:aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 5;
}
nav li a:hover {
    background-color: aqua;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 5;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover{
    background-color: black;
    color: aqua;
}