.navbar 
{
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    position: relative;
    color:aqua;
}
.navbar a 
{
    float: left;
    font-size: 16px;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}   
.dropdown {
    float: left;
    overflow: hidden;
    background-color:black;
    color:aqua;
}
.dropdown .dropbtn 
{
    background-color: black;
    font-size: 16px;
    border: none;
    outline: none;
    color: aqua;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn 
{
    background-color: aqua;
    color: black;
}  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover 
{
    background-color: black;
    color: aqua;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
*{
    font-family: 'Lucida Sans';
}