*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(RTO_BG.jpg);
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.wrapper
{
    width: auto;
    margin: 0 auto;
}