nav ul {
    margin: 0px;
    padding: 0px;
    background-color:black;
    color: aqua;
    overflow: hidden;
    z-index: 5;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color:aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 5;
}
nav li a:hover {
    background-color: aqua;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 5;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover{
    background-color: black;
    color: aqua;
}
.Logo
{
    position: absolute;
    left: 2%;
    top: 2%;
}
.head
{
    color: red;
}
.heading
{
    position:absolute;
    top: 10%;
    left: 43%;
    font-size:xx-large;
}
body
{
    background-image: url('Scrap_BG.jpg');
}
.BI
{
    position: absolute;
    top: 20%;
    left: 38%;
    opacity: 40%;
}
.tr
{
    font-size:larger;
}
.tl
{
    background-color: aqua;
    position: absolute;
    left: 0%;
    top: 122%;
}
*
{
    margin: 0%;
    font-family: 'Lucida Sans';
    overflow-x: hidden;
}
